# Core functionality - changes here should be rare!
/src/app.py                   @lin55
/src/backend/database.py      @lin55
/src/backend/routers/auth.py  @lin55

# The frontend will need refactored soon to be more object oriented.
/src/static/   @lin55
